@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex {
    display: flex;
}
.text-primary {
    color: #FF900E;
}
.text-gray {
    color: #424242;
}
.test-light-gray {
    color: #727272;
}
.bg-light{
    background-color:rgba(255,144,14,0.1);
}
.btn-primary{
    background-color:#FF900E;
    color: #fff;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
}
.btn-primary a{
    text-decoration: none;
    color: #fff;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 6rem;
}
html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
/* header style */
/* navbar style*/
.navbar {
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.navbar .nav-links .nav-item{
    list-style: none;
    margin-right: 30px;
}
.navbar .nav-links .nav-item .nav-link{
    text-decoration: none;
    font-weight: 500;

}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}
/* teams & feature style */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 6rem;
    max-width: 34rem;
}
.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick-list{
    font-weight: 500;
}
.features{
    gap: 140px;
}
.feature-container{
    max-width: 40%;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card-container .feature-card{
    padding:30px;
    box-shadow: 0 4px 30px 0 #0000003b;
    margin-bottom: 20px;
    border-radius: 8px;
}
.feature-card-container .feature-card .card-title
{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature-img{
    max-width: 55%;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.facts{
    margin-bottom: 12rem;
}
.fact-container{
    max-width: 33rem;
}
.fact-carts-container{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 124px;
    margin-top: 100px;
}
.fact-cart{
    display: flex;
    width: 200px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 46px 36px 60px 36px;
    border: 1px solid #FF900E;
    border-radius: 8px;
}
.fact-cart:hover{
    background-color: #FFF8DC;
    color: #000000;
} 
.fact-cart>div{
    text-align: center;
}
.fact-cart > div img {
    margin: 0 auto;
}
.fact-cart>div h3{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}
.fact-cart>div p{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}
.sponsore-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companys{
    display:grid;
    grid-template-columns:repeat(5, 1fr);
}
.sponsor-companys img{
    filter: grayscale(100%);
}
footer{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FFF4E7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 130px 240px 216px;
}
/* responsive styles */
@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams,
    .features
    {
        flex-direction: column;
    }
    .banner-title{
        font-size: 2rem;
    }
    .btn-primary{
        Padding: 15px 20px;
        font-size: 1rem;
    }
    .team-img-container{
        grid-template-columns:repeat(1, 1fr);
        gap: 12px;
    }
    .our-features{
        margin-left: 2rem;
    }
    .facts{
        margin-bottom: 3rem;

    }
    .fact-carts-container,
    .sponsor-companys{
        grid-template-columns:repeat(1,1fr);
        gap: 20px;
        justify-items: center;
    }
    .fact-cart{
        width: 180px;
        height: 180px;
        padding: 26px 16px 40px 16px;
    }
    .features{
        gap: 50px;
    }
    .feature-container{
        max-width: 90%;
        margin: 0 auto;
    }
    .feature-img{
        max-width: 80%;
        margin: 0 auto;
    }
    #experience-badge{
        padding: 25px 22px;
        margin-left: -30px;
        margin-top: -50px;
    }
    #experience-year{
        font-size: 2rem;
    }
    footer{
        margin: 50px 30px 50px;
    }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
    .teams,
    .features
    {
        flex-direction: column;
    }
    .team-img-container{
        gap: 12px;
    }
    .our-features{
        margin: 1rem 2rem;
    }
    .facts{
        margin-bottom: 6rem;
    }
    .fact-carts-container,
    .sponsor-companys
    {
        grid-template-columns:repeat(2,1fr);
        gap: 50px;
        justify-items: center;
    }
    .fact-cart{
        width: 180px;
        height: 180px;
        padding: 36px 26px 50px 26px;
    }
    .feature-container{
        max-width: 90%;
        margin: 0 auto;
    }
    .feature-card-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
    }
    .feature-img{
        max-width: 80%;
        margin: 0 auto;
    }
    #experience-badge{
        padding: 25px 22px;
        margin-left: -50px;
        margin-top: -70px;
    }
    .features{
        gap: 70px;
    }
    footer{
        margin: 70px 50px 70px;
    }
}